
.bg-accent {
  background-color: $clr-light-red;
}



  /* Container */
  ._container {
    max-width: 1395px;
    margin-right: auto;
    margin-left: auto;
  }


/* button */

  .btn-theme {
    position: relative;
    width: 100%;
    text-align: center;
    background-color: $clr-light-red;
    color: $clr-white;
    padding: 20px 50px;
    transition: all 0.2s ease-in-out ;

    .corner-left {
      position: absolute;
      height: 20px;
      width: 20px;
      top: 10px;
      left: 10px;
      border-left: 1px solid $clr-white;
      border-top: 1px solid $clr-white;


    }

    .corner-right {
      position: absolute;
      height: 20px;
      width: 20px;
      bottom: 10px;
      right: 10px;
      border-right: 1px solid $clr-white;
      border-bottom: 1px solid $clr-white;
    }

    

    &:hover {
      color: $clr-white !important; 
      background-color: $clr-dark;
    }

  }

  .sale-btn {
    position: relative;
    width: 100%;
    text-align: center;
    background-color: $clr-white;
    color: $clr-dark;
    padding: 20px 50px;
    transition: all 0.2s ease-in-out ;
    font-weight: $fw-semi-bold;

    .corner-left {
      position: absolute;
      height: 20px;
      width: 20px;
      top: 10px;
      left: 10px;
      border-left: 1px solid $clr-dark;
      border-top: 1px solid $clr-dark;


    }

    .corner-right {
      position: absolute;
      height: 20px;
      width: 20px;
      bottom: 10px;
      right: 10px;
      border-right: 1px solid $clr-dark;
      border-bottom: 1px solid $clr-dark;
    }

  }


  





  









   
